    {% extends "auth/base.html" %}

{% block content %}
 <div class = "container jumbotron">
      <div class = "hometitle text-center">
        <h2>Log In</h2>
      </div>
      <div class = "row">
       <div class = "col-lg-4"></div>
       <div class = "col-lg-4">
       <div class="panel panel-body">

      <form action="{{ url_for('auth.login') }}" method=post>
        {{ form.hidden_tag() }}

          <div class = "form-group row">
            <label class="text-left" for = "{{ form.email.name }}">
              {% for message in form.email.errors %}
              <div class="form1">{{ message }}</div>
              {% endfor %} {{form.email.label}}</label>
              <input class="form-control" id ="{{ form.email.name }}" name = "{{ form.email.name }}">

          </div>
          <div class = "form-group row">
            <label class="text-left" for = "{{ form.password.name }}">
              {% for message in form.password.errors %}
              <div class="form1">{{ message }}</div>
              {% endfor %} {{form.password.label}}</label>
              <input class="form-control" type="password" id ="{{ form.password.name }}" name = "{{ form.password.name }}">

          </div>
          {{ form.submit }}
      </form>
      </div>
       </div>

    <div class = "col-lg-4"></div>
    </div>
    </div>
    {% endblock %}