{% extends "main/base.html" %}

{% block content %}
    <div class="row-fluid">
        <div class="col-lg-3"></div>
        <div id="center-side-id3" class="col-lg-6 center-side">
            {% block center_content %}
                <div class="panel panel-body">
                    <form action="{{ url_for('auth.login') }}" method=post>
                        {{ form.hidden_tag() }}

                        <div class="form-group row">
                            <label class="text-left" for="{{ form.email.name }}">
                                {% for message in form.email.errors %}
                                    <div class="form1">{{ message }}</div>
                                {% endfor %} {{ form.email.label }}</label>
                            <input class="form-control" id="{{ form.email.name }}" name="{{ form.email.name }}">

                        </div>
                        <div class="form-group row">
                            <label class="text-left" for="{{ form.password.name }}">
                                {% for message in form.password.errors %}
                                    <div class="form1">{{ message }}</div>
                                {% endfor %} {{ form.password.label }}</label>
                            <input class="form-control" type="password" id="{{ form.password.name }}"
                                   name="{{ form.password.name }}">

                        </div>
                        <div>
                            <p>{{ form.remember_me }} Remember Me</p>
                        </div>
                        <input class="btn btn-success btn-group-justified" id="submit" name="submit" type="submit" value="Log In">
                    </form>
                </div>
            {% endblock %}
        </div>

        <div class="col-lg-3">
            {% block right_content %}
                {{ super() }}
            {% endblock %}
        </div>
    </div>
{% endblock %}