{% extends "auth/base.html" %}
{% block content %}
    <div class="row-fluid">
        <div class="col-lg-3 left-side">
            {% block left_content %}
                <h3>{{ user.username }}'s profile page</h3>

                <ul class="list-group">
                    <li class="list-group-item"><b>First Name: </b>{{ user.firstname|title }}</li>
                    <li class="list-group-item"><b>Last Name: </b>{{ user.lastname|title }}</li>
                    <li class="list-group-item"><b>Email: </b>{{ user.email|lower }} </li>
                </ul>
            {% endblock %}
        </div>
        <div id="center-side-id4" class="col-lg-6 center-side">
            {% block center_content %}
                <div class="btn-group">
                    <a class="btn btn-primary btn-group-justified" href="{{ url_for('auth.JournalEntry') }}"> New Entry</a>
                </div>
                {% for entry in entries %}
                    <div class="panel panel-success">
                        <div class="panel-heading"><a href="{{ url_for('auth.view_entry',id=entry.id) }}"><b>{{ entry.title|upper }}</b></a></div>
                        <div class="panel-body">{{ entry.body|truncate }}</div>
                        <div class="panel-footer"><i><small>{{ entry.tags }}</small></i></div>
                    </div>
                {% endfor %}
            {% endblock %}
        </div>

        <div class="col-lg-3 right-side">
            {% block right_content %}
                {{ super() }}
            {% endblock %}
        </div>
    </div>
{% endblock %}