{% extends "auth/base.html" %}
{% block content %}
  <div class="jumbotron">
    <h2>Profile</h2>
    <h3>{{ session['email'] }}'s profile page</h3>
    <hr>

  {% for entry in entries %}
  <p>
      <b><a href="{{ url_for('auth.view_entry',id=entry.id) }}"> {{ entry.title }} </a></b>
      <b>{{ entry.body }}</b>
  </p>
  {% endfor %}


  <a href="{{ url_for('auth.JournalEntry') }}"> New Post</a>
{#   <a href="{{ url_for('auth.updateentry') }}"> New Post</a>#}
  <a href="{{ url_for('auth.logout') }}">Logout</a>

  </div>
{% endblock %}